.paddingLayout {
  padding-left: 105px;
  padding-right: 105px;
}
.home {
  margin-top: 20px;
}
@media (max-width: 720px) {
  .home {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media (min-width: 720px) {
  .home .slider {
    padding-left: 105px;
    padding-right: 105px;
  }
  .home .catalog {
    padding-left: 105px;
    padding-right: 105px;
  }
}
@media (min-width: 720px) {
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 105px;
    padding-right: 105px;
  }
}
footer {
  background-color: #000;
}
footer .title {
  color: #fff;
}
footer .p {
  color: #bbbbbb;
}
