.basket .ant-drawer-header.ant-drawer-header-close-only {
  display: none;
}
.basket .back {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
  cursor: pointer;
}
.basket .basket-item {
  display: flex;
  position: relative !important;
  padding-bottom: 10px;
}
.basket .basket-item .destroy {
  position: absolute;
  top: -10px;
  left: -10px;
  cursor: pointer;
}
.basket .basket-item .que input {
  width: 32px;
  border: none;
  border-right: 1px solid;
  outline: none;
}
.basket .basket-item .que input::-webkit-outer-spin-button {
  margin: 0;
  display: none;
}
.basket .basket-item .que input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.basket .basket-item .prise {
  display: block;
  margin-right: auto;
  text-align: end;
  width: 100%;
}
.basket .promocode {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #000000;
}
.basket .sum {
  margin-top: 10px;
}
